# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Virtual environments
venv/
roi_env/
.env

# VS Code
.vscode/

# Outputs
outputs/

# System
.DS_Store
Thumbs.db